<div class="container">
  <h1>Restaurants#show</h1>
  <h2 class="d-flex justify-content-between">
    <div><%= @restaurant.name %></div>
    <div><%= @restaurant.category.capitalize %></div>
  </h2>
  <h3>Details</h3>
    <div><%= @restaurant.address %></div>
    <div><%= @restaurant.phone_number %></div>
  <h3 class="d-flex justify-content-between">
    <div>Reviews</div>
  </h3>
  <ul class="list-group">
    <% @restaurant.reviews.all.each do |review| %>
      <li class="list-group-item">
        <%= "#{review.rating} ****** #{review.content}" %>
      </li>
    <%  end %>
  </ul>

  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <div class="text-center">
      <%= f.button :submit, value: 'Y a bon !', class: 'btn btn-primary rounded' %>
    </div>
  <% end %>

</div>
